<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Connection string untuk SQL Server Express (lokal) -->
		<!-- Server: .\SQLEXPRESS, Database: KantinDB, pakai Windows Authentication -->
		<add name="KantinDB"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KantinDB;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>